<div class="login-container">
    <img src="../../../assets/logo.svg" alt="todo logo">

    <div [formGroup]="loginForm" class="form-section">
        <input formControlName="username" type="text" placeholder="Email">
        <div class="password-box">
            <input formControlName="password" [type]="!showPassword ? 'password' : 'text'" placeholder="Password">
            <img (click)="handlePasswordVisibility()" *ngIf="!showPassword" src="../../../assets/eye-off.svg" alt="hide password icon">
            <img (click)="handlePasswordVisibility()" *ngIf="showPassword" src="../../../assets/eye-svgrepo-com.svg" alt="hide password icon">
        </div>
        <label class="errorMessage" *ngIf="errorMessage" >{{errorMessage}}</label>
        <label class="forgot-password">Forgot Password?</label>
        <div (click) ="loginSubmit()" class="btn-submit">
            Sign in
        </div>
        <label class="no-password">Don't have an account? <span (click)="redirectToRegister()">Sign up</span></label>
    </div>
    
</div>