//colors 
$primary-color : #F79E89;
$secondary-color : rgba(39, 39, 39, 0.5);

//spacings
$padding24 : 24px;
$padding16 : 16px;
$zero-padding : 0px;
//font size
$font-size12: 12px ;
$font-size16: 16px;