@import '/src/themes/themes.scss';

.home-container{
    box-sizing: border-box;
    padding : $zero-padding $padding24;
    height: 100vh;
    .header-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
        #filter-icon{
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
        .title-menu-section{
            display: flex;
            align-items: center;
            #menu-icon{
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
            .title{
                font-size: 24px;
                font-weight: 700;
                color: $mini-primary-color;
                margin: $zero-padding;
                margin-left: 9px
            }
        }

       
        
    }

    .todo-sections{
        max-height: 70%;
        overflow-y: scroll;
        margin-top: 17px;
        .each-todo{
            padding-top: $padding16;
        }
    }

    .add-button{
        position: absolute;
        bottom: 2%;
        right: 5%;
        img{
           
            width: 72px;
            height: 72px;
        }
    }
}